:root {
	--circle1: "red";
	--circle2: "orange";
	--circle3: "yellow";
	--circle4: "lightyellow";
}

.ff-sans-serif {
	font-family: sans-serif;
}
.pt1 {
	padding-top: 1rem;
}
.pl1 {
	padding-left: 1rem;
}
.pr1 {
	padding-right: 1rem;
}
.pr0-2 {
	padding-right: 0.2rem;
}
.pb1 {
	padding-bottom: 1rem;
}
.m0 {
	margin: 0;
}
.mb0-5 {
	margin-bottom: 0.5rem;
}
.mb1 {
	margin-bottom: 1rem;
}
.ml1 {
	margin-left: 1rem;
}
.mr1 {
	margin-right: 1rem;
}
.mb2 {
	margin-bottom: 2rem;
}
.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}
.fs0-6 {
	font-size: 0.6rem;
}
.fs0-8 {
	font-size: 0.8rem;
}
.fs1-2 {
	font-size: 1.2rem;
}
.dib {
	display: inline-block;
}
.x {
	display: flex;
}
.xx {
	flex: 1;
}
.xac {
	align-content: center
}
.xaic {
	align-items: center;
}
.xjc {
	justify-content: center;
}

.circle-svg {
    height: 18px;
    width: 18px;
}
.circle-itself {
    r: 9px;
    cx: 9px;
    cy: 9px;
}
.circle1 {
	fill: var(--circle1);
}
.circle2 {
	fill: var(--circle2);
}
.circle3 {
	fill: var(--circle3);
}
.circle4 {
	fill: var(--circle4);
}
.hidden {
	visibility: hidden;
}
.content-container {
	display: grid;
	grid-row-gap: 1rem;
}
.content-row {
	display: grid;
	grid-template-columns: max-content 130px repeat(3, max-content);
	grid-column-gap: 1rem;
}

@media only screen and (max-width: 800px), (min-width: 500px) {
	.content-row {
		grid-template-columns: max-content 130px max-content 1fr;
	}
	.content-container {
		grid-row-gap: calc(1rem - 15px);
	}
    .link-description {
    	grid-row: 2;
    	grid-column: 2 / -1;
    	height: 15px;
    }
    [small~="xdc"] {
    	flex-direction: column;
    }
  }
 @media only screen and (max-width: 500px), (min-width: 400px) {
	.content-row {
		grid-template-columns: max-content 130px max-content;
	}
	.links {
		grid-row: 2;
		grid-column: 3;
		margin-left: -115px;
	}
	.link-description {
		grid-row: 3;
		grid-column: 2 / span max-content;
		height: 15px;
		margin-left: 30px;
	}
	.big-arrow {
		grid-row: 2;
		grid-column: 2 / 3;
	}
	[mobile="xdr"] {
		flex-direction: row;
	}
 }
 @media only screen and (max-width: 400px) {
 	[smallmobile="xdc"] {
 		flex-direction: column;
 	}
 }