@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --circle1: "red";
  --circle2: "orange";
  --circle3: "yellow";
  --circle4: "lightyellow";
}

.ff-sans-serif {
  font-family: sans-serif;
}
.ff-serif {
  font-family: "Times New Roman", sans-serif;
}
