.ff-sans-serif {
	font-family: sans-serif;
}
.pt1 {
	padding-top: 1rem;
}
.pl1 {
	padding-left: 1rem;
}
.pr1 {
	padding-right: 1rem;
}
.pr0-2 {
	padding-right: 0.2rem;
}
.pb1 {
	padding-bottom: 1rem;
}
.m0 {
	margin: 0;
}
.mb0-5 {
	margin-bottom: 0.5rem;
}
.mb1 {
	margin-bottom: 1rem;
}
.ml1 {
	margin-left: 1rem;
}
.mr1 {
	margin-right: 1rem;
}
.mb2 {
	margin-bottom: 2rem;
}
.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}
.fs0-6 {
	font-size: 0.6rem;
}
.fs0-8 {
	font-size: 0.8rem;
}
.x {
	display: flex;
}
.xx {
	flex: 1;
}
.xac {
	align-content: center
}
.xaic {
	align-items: center;
}
.xjc {
	justify-content: center;
}
.wun {
	width: unset;
}

.circle-svg {
    height: 18px;
    width: 18px;
}
.circle-itself {
    r: 9px;
    cx: 9px;
    cy: 9px;
}
p {
	width: 129px;
}
.links {
	display: inherit;
}
.hidden {
	visibility: hidden;
}
@media only screen and (max-width: 500px) {
    .links {
      display: flex;
      flex-direction: column;
    }
  }